In [2]:
x=input("enter string")
print(x[x.find("@")+1:-4])

enter stringkomal@google.com
google

In [ ]:
x=input().split(',')
print(",".join(sorted(list(set(x)))))

without,hello,bag,world
bag,hello,without,world

In [15]:
a={"books","movies","games"}
print(a)
a.add("novels")
b=a.copy()
print(b)
a.update(["mango","banana","orange"])
c=a.copy()
print(c)
d=len(a)
a.remove("books")
e=a.copy()
print(e)
a.discard("movies")
f=a.copy()
print(f)
a.clear()
g=a.copy()
print(g)

{'books', 'movies', 'games'}
{'novels', 'books', 'movies', 'games'}
{'orange', 'banana', 'novels', 'movies', 'mango', 'books', 'games'}
{'orange', 'banana', 'novels', 'movies', 'mango', 'games'}
{'orange', 'banana', 'novels', 'mango', 'games'}
set()

In [3]:
l=list(map(int,input().split()))
b=l.copy()
for i in range(min(l),max(l)):
  if i not in b:
    print(i,end=' ')

1 3 4 5 6 7 8
2

In [ ]:
l=list(map(int,input().split()))
k=[]
for i in l:
  if i not in k:
    k.append(i)
print(k,end=' ')

12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]